<div class="container">
  <h1>Apis#sim_list</h1>
  <div class="well">
    <p>Similarity score ranking of
      <span class="place-a"><%= @place_choices[@place_a_id][:place_name] %></span>
      in
      <span class="season-a"><%= @season_choices[@season_a_id][:season_name] %></span>
    </p>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>rank</th>
      <th>similarity score</th>
      <th>place</th>
      <th>season</th>
      <th>detail</th>
    </tr>
    </thead>
    <tbody>
    <% @list.each_with_index do |sim, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= sim[:score].round(1) %></td>
          <td><%= @place_choices[sim[:place_id]][:place_name] %></td>
          <td><%= @season_choices[sim[:season_id]][:season_name] %></td>
          <td>
            <%= form_for(Api.new, :url => :apis_values) do |f| %>
                <input type="hidden" id="place_a_id" name="place_a[id]" value="<%= @place_a_id %>">
                <input type="hidden" id="place_b_id" name="place_b[id]" value="<%= sim[:place_id] %>">
                <input type="hidden" id="season_a_id" name="season_a[id]" value="<%= @season_a_id %>">
                <input type="hidden" id="season_b_id" name="season_b[id]" value="<%= sim[:season_id] %>">
                <%= f.submit("=>") %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
