<!DOCTYPE html>
<html>
<head>
  <title>Plant Transplantation by ROPPONGI PLANTERS</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
</head>
<body>

<!-- header -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="select"><span class="service_name">Plant Transplantation</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div style="margin-bottom: 60px"></div>

<%= include_gon %>
<%= yield %>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <p class="muted credit">Created by ROPPONGI PLANTERS ( <a href="https://twitter.com/hase1031" target="_blank">Takayuki Hasegawa</a>, <a href="https://twitter.com/Metal_unk" target="_blank">Ryusuke Chiba</a> )</p>
    <p class="muted credit">All rights reserved</p>
  </div>
</footer>

</body>
</html>
